@model Note

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h2>Details for @Html.DisplayFor(model => model.Title) Note</h2>
    <hr />

    <div class="details">
        <div id="text">
            <span>

                <b>Title:</b><br />
                @Html.DisplayFor(model => model.Title)<br /><br />
                <b>Description:</b><br />
                @Html.DisplayFor(model => model.Description)<br /><br />
                <b>Created:</b><br />
                @Html.DisplayFor(model => model.Created)<br /><br />
                <b>Date of last edition:</b><br />
                @*@Html.DisplayNameFor(model => model.DateOfEdition)*@
                @Html.DisplayFor(model => model.DateOfEdition)<br />
            </span>
        </div>

    </div>
    <div id="details-btns">
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Index", null,null, new { @class = "btn btn-info" })
        @Html.ActionLink("Delete", "Delete", new {id = Model.Id}, new { @class = "btn btn-danger" })
    </div>
</div>