@model IEnumerable<Note>


<h2>List of notes</h2>
<div class="mb-4">
    There are @Model.Count() notes on our page
</div>
<table class="table mb-4">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @* @Html.ActionLink("Edit", "Edit", new { id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |*@
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Create New", "Create")