@model IEnumerable<Note>

@{
    ViewBag.Title = "List of notes";
}

<h2>List of notes</h2>
<div class="mb-4">
    There are @Model.Count() notes on our page
</div>
<table class="table mb-4 w-auto" >
    <tr>
        <th>
            <h3>Notes</h3>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="note"> 
            
            <td>

                <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
              <br/>
                Date of creation:&nbsp;&nbsp;
                @Html.DisplayFor(modelItem => item.Created)
                <br />
                Date of edition:&nbsp;&nbsp;
                @Html.DisplayFor(modelItem => item.DateOfEdition)
                

            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id}, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new {id = item.Id}, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new { @class = "btn btn-danger" })


            </td>
        </tr>
    }
</table>
@Html.ActionLink("Create New", "Create",null,null, new { @class = "btn btn-success btn-large" })
